@import "tailwindcss";

body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.font-display {
  font-family: 'Space Grotesk', sans-serif;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

.glass {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}
